__pycache__/Sample.cpython-36.pyc
__pycache__/xyz2llh.cpython-36.pyc
*.jpg
*.JPG
*.bmp
Assignment/pics/*
Assignment/pics*.zip
Assignment/bmps/conv.py
Assignment/bmps/pngs/*
*.exe
*.out
*tseries
.DS_Stores
Sample.pyc
