__pycache__/Sample.cpython-36.pyc
__pycache__/*
*.jpg
*.JPG
*.bmp
Assignment/pics/*
Assignment/pics*.zip
Assignment/bmps/conv.py
Assignment/bmps/pngs/*
*.exe
*.out
*tseries
.vscode/*
move.mp4
.vscode/settings.json
.vscode/settings.json
